<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doday.dev.doday.mapper.RoutineLogMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO RoutineLogs (routine_id, check_date, is_completed)
        VALUES (#{routineId}, #{checkDate}, #{isCompleted})
    </insert>

    <select id="findByRoutineIdAndDate" resultType="com.doday.dev.doday.domain.RoutineLog">
        SELECT * FROM RoutineLogs
        WHERE routine_id = #{routineId} AND check_date = #{checkDate}
    </select>

    <update id="updateCompleted">
        UPDATE RoutineLogs
        SET is_completed = #{isCompleted}
        WHERE routine_id = #{routineId} AND check_date = #{checkDate}
    </update>

    <select id="findByRoutineIdAndPeriod" resultType="com.doday.dev.doday.domain.RoutineLog">
        SELECT * FROM RoutineLogs
        WHERE routine_id = #{routineId}
          AND check_date BETWEEN #{startDate} AND #{endDate}
    </select>

    <delete id="deleteByRoutineId">
        DELETE FROM RoutineLogs WHERE routine_id = #{routineId}
    </delete>

</mapper>